*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', Arial, sans-serif;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

body{
    font-family: 'Calibri', Arial, sans-serif;
}
